# Go binary files
*.exe
*.exe~
*.out
*.app
*.bin

# Go workspace file
go.work
go.work.sum

# Dependency directories
/vendor/

# Go module files
go.sum
go.mod

# IDE and editor files
.vscode/
.idea/

# GoLand specific files
.idea/*

# VSCode specific files
.vscode/*

# MacOS specific files
.DS_Store

# Linux specific files
*.swp
*~

# Windows specific files
Thumbs.db
ehthumbs.db

# Coverage files
*.coverprofile

# Test binary files
*.test


# Logs and temp files
*.log
*.tmp
*.bak
*.swo

# Git specific files
.git/

# Ignore the .env file (for sensitive info like API keys or DB credentials)
.env

# Ignore other configuration files like local configuration, secrets etc.
*.local
*.env.*
